*
{
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Fredoka', sans-serif;
}

body
{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

#tittle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(43, 255, 128);
    position: relative;
    font-size: 1.5rem;
}

#capta_logo
{
    height: 2.5rem;
    color: rgb(43, 255, 128);
}

#main_page
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}